.home h1 {
	font-family: 'Racing Sans One', cursive;
	color: $firered;
	text-align: center;
}

.home h2 {
	font-family: 'Racing Sans One', cursive;
	text-align: center;	
}

.home img {
	width: 10vw;
	margin: 0 auto;
	position: relative;
}