.home a {
	font-size: 4vh;
	text-transform: uppercase;
	color: $firered;
	font-weight: 300;
	letter-spacing: 0.05em;
	padding: 0.2em;
}

.box:hover a {
	color: #fff;
}

.home {
	padding: 0;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
	height: 100vh;
}

.box {
  	background: transparent;
  	width: 33.3%;
  	height: 49.9vh;
  	color: white;
  	font-weight: 400;
  	font-size: 3em;
  	text-align: center;
	overflow: hidden;
	box-sizing: border-box;
	border: 3px solid #000;
}

.box .blur {
	width: 110%;
	position: relative;
	z-index: 1;
	top: -25%;
	left: -5%;
	transition: 0.25s all ease;
}

.box:hover .blur {
	width: 115%;
	top: -30%;
	left: -10%;
}

.overlay {
  position: relative;
}

$overred: saturate(darken($firered, 20), 34);

.overlay:before {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0;
  background-color: $overred;
}

.overlay:hover:before {
	opacity: 0.95;
}

.linktext {
	position: relative;
	z-index: 2;
	top: 40%;
}

.blur {
  	filter: url(#blur);
  	filter: blur(3px);
  	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	opacity: 0.3;
}

.blur:hover  {
 	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); 
  	filter: blur(0px);
	opacity: 0.2; 
} 

/*********** Logo Box ***********/
.logos {
	padding: 0.8em;
	background: #000 url('../img/home_photos/fire.jpg') no-repeat scroll top left;
	background-size: contain;
}

.logos img {
	transition: transform .4s ease-in-out;  
}

.logos:hover img {
	transform:rotateY(360deg);
}

.home h1 {
	font-family: 'Racing Sans One', cursive;
	color: $firered;
	text-align: center;
	line-height: 0.9;
	margin: 0;
	font-size: 6vh;
	padding-bottom: 0.15em;
}

.home h2 {
	font-family: 'Racing Sans One', cursive;
	text-align: center;	
	line-height: 1.1;
	border-top: 1px solid #ddd;
	margin: 0 auto;
	font-size: 2.5vh;
	width: 65%;
	padding-top: 0.4em;
}

.home img {
	width: 6.5vw;
	margin: 0 auto;
	position: relative;
	padding-top: 0.5em;
}

/*********** Social ***********/
.social {
	background: $firered !important;
}

.social a {
	color: #fff !important;
}