@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700);
@import url(http://fonts.googleapis.com/css?family=Racing+Sans+One);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, 
body, 
.container, 
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.container {
	background: #000;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

body {
	background: #000;
	color: #fff;
	font-weight: 400;
	font-size: 1em;
	font-family: 'Roboto', Arial, sans-serif;
}

a {
	color: #ffffff;
	text-decoration: none;
	outline: none;
}

.home a {
	font-size: 3vh;
	text-transform: uppercase;
	color: #fff;
	font-weight: 100;
	letter-spacing: 0.05em;
	padding: 0.2em;
}

.box:hover a {
	color: #fff;
}

.home {
	padding: 0;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
	height: 100vh;
}

.box {
  	background: transparent;
  	width: 33.3%;
  	height: 49.9vh;
  	color: white;
  	font-weight: 400;
  	font-size: 3em;
	overflow: hidden;
	box-sizing: border-box;
	border: 3px solid #000;
    @include breakpoint(mama-bear) {
      width: 50%;
    }
    @include breakpoint(baby-bear) {
      width: 100%;
    }
}

.box .linktext {
	position: absolute;
	z-index: 2;
	font-size: 2.25vw;
	line-height: 1.2;
	bottom: 0;
	padding: 1em;
	text-align: left;
	background: rgba($firered, 0.65);
	width: 75%;
	left: -3%;
	transition: 0.3s all ease;
    @include breakpoint(baby-bear) {
		font-size: 4vh;
		height: 35%;
    }
}

.box:hover .linktext {
	background: rgba(0, 0, 0, 0.7);
	transition: 0.3s all ease;
}

.box .righttext {
	text-align: right !important;
	left: 25%;
	bottom: 70%;
	top: 0% !important;
	padding: 0.5em 1em;
    @include breakpoint(mama-bear) {
		height: 15%;
    }
    @include breakpoint(baby-bear) {
		height: 27.5%;
    }
}

.box .oneliner {
	height: 20%;
    @include breakpoint(mama-bear) {
		height: 15%;
    }
}

/*********** Blurring ***********/

.box .blur {
	width: 110%;
	position: relative;
	z-index: 1;
	top: -35%;
	left: -5%;
	transition: 0.25s all ease;
    @include breakpoint(papa-bear) {
      width: 150%;
	  top: -25%;
    }
}

.box:hover .blur {
	width: 115%;
	top: -40%;
	left: -15%;
    @include breakpoint(papa-bear) {
      width: 120%;
	  top: -2%;
    }
}

.overlay {
  position: relative;
}

$overred: saturate(darken($firered, 30), 35);

.overlay:before {
  	position: absolute;
  	content:"";
  	top:0;
  	left:0;
  	width:100%;
  	height:100%;
  	opacity:0;
  	background-color: $overred;
}

.overlay:hover:before {
	opacity: 0.95;
}

.blur {
  	filter: url(#blur);
  	filter: blur(3px);
  	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
	opacity: 0.25;
    @include breakpoint(mama-bear) {
		filter: blur(0px);
		opacity: 0.35;
    }
    @include breakpoint(baby-bear) {
		filter: blur(0px);
		opacity: 0.35;
    }
}

.blur:hover  {
 	filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0'); 
  	filter: blur(0px);
	opacity: 0.15; 
} 

/*********** Logo Box ***********/
.logos {
	padding: 0.8em;
	background: #000 url('../img/home_photos/fire.jpg') no-repeat scroll top left;
	background-size: contain;
}

.logos img {
	transition: transform .4s ease-in-out;  
}


img.star {
	float: left;
	width: 0.5em !important;
	margin-top: -0.2em !important;
	margin-left: 1em !important;
}

img.star_right {
	float: right !important;
	width: 0.5em !important;
	margin-top: -0.2em !important;
	margin-right: 1em !important;
}

.home h1 {
	font-family: 'Racing Sans One', cursive;
	color: $firered;
	text-align: center;
	line-height: 0.9;
	margin: 0 auto;
	font-size: 6vh;
	padding-bottom: 0.15em;
    @include breakpoint(papa-bear) {
		font-size: 4vh;
    }	
    @include breakpoint(mama-bear) {
		font-size: 5vh;
    }
}

.home h2 {
	font-family: 'Racing Sans One', cursive;
	text-align: center;	
	line-height: 1.1;
	border-top: 1px solid #ddd;
	margin: 0 auto;
	font-size: 2.5vh;
	width: 65%;
	padding-top: 0.4em;
    @include breakpoint(papa-bear) {
		font-size: 1.75vh;
    }	
    @include breakpoint(mama-bear) {
		font-size: 2vh;
    }
}

.home img {
	width: 6.5vw;
	margin: 0 auto;
	padding-top: 0.5em;
}

.home p {
	text-align: center;
}

img.c_logo {
    @include breakpoint(mama-bear) {
		width: 10vh;
    }
    @include breakpoint(baby-bear) {
		width: 15vw !important;
    }
}

/*********** Social ***********/
.social {
	background: #B20F1F !important;
	padding-top: 4%;
	text-align: center !important;
}

.social a {
	color: #fff !important;
	letter-spacing: 0;
	font-size: 2vh;
    @include breakpoint(baby-bear) {
		font-size: 3vh;
    }
}

.social a:hover {
	opacity: 0.7 !important;
}

.social a {
	text-transform: none !important;
}

.smallcaps {
	font-weight: 400;
	letter-spacing: 0.5em;
	font-size: 1.5vh;
	text-transform: uppercase;
    @include breakpoint(baby-bear) {
		font-size: 1.25vh;
    }
}

.capsborder {
	border-top: 1px solid #fff !important;
	margin-top: 3em !important;
	padding-top: 3em;
	width: 80% !important;
	margin: 0 auto;
}

.social_icon {
	width: 3em !important;
	margin-top: 1em !important;
}