$firered: #ef1c26;

.overflowing {
	overflow: auto;
	background: #fff;
    @include breakpoint(baby-bear) {
		overflow-y: scroll !important;
	    }
}

.force_overflow {
    @include breakpoint(baby-bear) {
		overflow-y: scroll !important;
	    }	
}

.subpage_header {
	width: 100%;
	height: 22vh;
	background: #333;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 1;
	background: #fff url('../img/beach_header.jpg') no-repeat scroll;
	background-position: 0% 25%;
	background-size: cover;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    @include breakpoint(baby-bear) {
		padding-top: 5vh;
		height: 28vh;
		position: relative;
	    }
}

.brunch_header {
	background: #fff url('../img/brunch_header.jpg') no-repeat scroll !important;
	background-position: 0% 25% !important;
	background-size: cover !important;
}

.subpage_header h1 {
	color: #fff;
	text-align: center;
	font-family: 'Racing Sans One', cursive;
	margin: 6vh 0 0 0;
	padding: 0;
	line-height: 1;	
}

.subpage_header h2 {
	color: #fff;
	text-align: center;
	font-family: 'Racing Sans One', cursive;
	margin: 0;
	padding: 0;
	line-height: 1;
    @include breakpoint(baby-bear) {
		font-size: 3vh;
	    }
}

.subpage {
	max-width: 1100px;
	margin: 0 auto;
	overflow: visible !important;
	height: 70vh;
	margin-top: 23vh;
	padding: 2vh;
    @include breakpoint(baby-bear) {
		margin-top: 0vh;
	}
}

.subpage h3 {
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.9em;
	letter-spacing: 2px;
	line-height: 1;
	margin: 4vh 0 0 0;
	color: $firered;
    @include breakpoint(baby-bear) {
		font-weight: 300;
		font-size: 4.75vh;
	    }
}

.subpage p {
	font-size: 1em;
	line-height: 1.7;
	color: #333;
    @include breakpoint(baby-bear) {
		font-size: 2.5vh;
		line-height: 1.6;
	    }
}

.subpage a {
	border-bottom: 1px solid #ccc;
	color: #333;
}

.subpage a:hover {
	border-bottom: 1px solid #fff;
}

.subpage .larger {
	font-size: 1.25em;
    @include breakpoint(baby-bear) {
		font-size: 3.5vh;
	    }	
}

.subpage .intro {
	margin: 0.75em 0 0 0;
}

.subpage .intro_small {
	margin: 0.1em 0 1.75em 0;
	font-size: 0.9em;
}

strong.larger {
	font-size: 1.5em !important;
	font-weight: 300;
    @include breakpoint(baby-bear) {
		font-size: 3.5vh !important;
	    }
}

.subpage .smaller {
	font-size: 0.5em;
    @include breakpoint(baby-bear) {
		font-size: 1.75vh;
	    }
}

.subpage aside {
	float: right;
	display: block;
	height: 50vh;
	width: 25%;
    @include breakpoint(baby-bear) {
		display: none;
	}	
}

.subpage aside img {
	width: 100%;
}

.subpage .lookfor {
	width: 100%;
}

.beach_left {
	float: left;
	width: 40%;
    @include breakpoint(baby-bear) {
		float: none;
		width: 100%;
	    }
}

.beach_right {
	float: right;
	width: 55%;
    @include breakpoint(baby-bear) {
		float: none;
		width: 100%;
	    }
}