h1 {
	font-weight: 100;
	font-size: 5vh;
	line-height: 1;
}

h2 {
	font-weight: 100;
	font-size: 4vh;
	line-height: 1.5;
}

h3 {
	font-weight: 400;
	font-size: 2vh;
	line-height: 1.6;
}

p {
	font-weight: 400;
	font-size: 1vh;
	line-height: 1;
}

.framed_content p {
	font-weight: 400;
	font-size: 1.5vh;
	line-height: 1.6;
}

.framed_content h1 {
	margin-bottom: 0.25em;
	opacity: 0.3;
	font-size: 6vh;
	margin-top: 0.25em;
	text-align: right;
}

.framed_content img {
	width: 100%;
}